
    
    <!-- <div class="top-nav"> <mat-toolbar color="primary">
        <mat-toolbar-row>
       <span><a routerLink="home" routerLinkActive="activebutton" class="a"><button mat-button color="white"><i class="fas fa-vihara fa-2x"></i>&nbsp; Home</button></a></span>
       <span><a routerLink="contacts" routerLinkActive="activebutton"  class="a"><button mat-button color="white"><i class='fas fa-envelope-open fa-2x'></i>&nbsp;Log-In</button></a></span>
       </mat-toolbar-row>
     </mat-toolbar><br>

    </div> -->
    <!-- <a routerLink='reg' class="reg" style="margin-left: 2%;">Sign-Up</a> <br> -->
    <router-outlet></router-outlet>




