<body>
    
    <div class="main">
       
        <div class="cont">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
           <a routerLink='/list' class="mlink"> <label class="top1">EMPLOYEE LIST</label></a>
           &nbsp;&nbsp;&nbsp;<a href="#" class="mlink"><label class="top2">TECHNOLOGY FORUMS</label></a>
           &nbsp;&nbsp;&nbsp;<a href="#" class="mlink"><label class="top3">CENTRE OF EXCELLENCE</label></a>
           
           
        </div>  

    <div class="con">

         <div class="log1">
             <div class="date">
                <div class="two"><img src="../../../assets/images/date.jpg" alt="date" style=" width: 100%;"></div>
            <div class="three"><img src="../../../assets/images/calender.jpg" alt="calender" style=" width: 100%;"></div>
             </div>

             <!-- <img src="../../../assets/images/date.jpg" alt="date" style=" width: 100%;">
             <img src="../../../assets/images/calender.jpg" alt="calender" style=" width: 100%;"> -->
            
            <div class="four"><label class="eve">Upcoming Events</label> <button class="btnl"><i class="fa fa-chevron-left"></i></button><button class="btnr"><i class="fa fa-chevron-right"></i></button></div>

            <div class="five">
            <p class="alp1">No Upcoming Events</p>
            <p class="alp2"> <i class='fas fa-photo-video'></i>&nbsp;NA <i class="fa fa-line-chart" style="color: white;"></i>&nbsp;NA</p>
            <p class="alp3"><i class="fa fa-road" style="color: white;"></i>&nbsp;NA</p></div>

            <div  class="six"><button type="button" class="logbut" >Click Here to Register Events</button></div>
     
    </div>
      
    

        <div class="log2">
            <img src="../../../assets/images/ESS.jpg" alt="ESS LOGO" class="ess">

            <p class="txt">EMPLOYEE SELF<br>
               &nbsp;&nbsp;&nbsp;&nbsp; SERVICE</p>

                    <h1 class="login">LOGIN</h1>
                    
                    <div class="form-input">
                    <input type="text" placeholder="User Id" id="email" class="input" > <span class="icon"><i class="fa fa-user" style="color:gray"></i></span> <br><br>
                </div>
                <div class="form-input">
                    <input type="password" placeholder="Password" id="pass" class="input"> <span class="icon"><i class="fa fa-unlock-alt" style="color:gray"></i></span> <br><br>
                </div>

                <a routerLink='/reg' class="reg" target="">Sign-Up</a> <br>
                <!-- <a class="reg">Sign-Up</a><br> -->

                    <button (click)="valfun($event)" type="button" class="sub">Submit</button>
        </div>

    </div>

<span><img class="pond" src="../../../assets/images/changepond.jpg" alt="Changepond Logo"></span>
<label class="copy" style="color: white; float: right; margin-right: 10%;">© Changepond Technologies</label>


</div>


</body>

